<a href="https://colab.research.google.com/github/p-tech/wbs-dm-2026/blob/main/loading_data/loading_data_expanded.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1: Import pandas

In [1]:
import pandas as pd

# Install pandas if not already installed
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

# Working with CSV files:
# Task 1:
Load the csv 'loading_data_file.csv' file into a dataframe - labelled as df

In [3]:
df = pd.read_csv('loading_data_csv.csv')

Show the first 5 lines of the csv file.

In [4]:
df.head(5)

,OrderID,OrderDate,CustomerID,CustomerName,Email,ProductID,ProductName,Category,Quantity,UnitPrice,OrderStatus,Country
0,10001,2024-01-01,C001,Amelia Brown,amelia.brown@email.com,P101,Wireless Mouse,Accessories,2,18.99,Delivered,UK
1,10002,2024-01-01,C002,James Patel,j.patel@email.com,P103,USB-C Charger,Accessories,1,14.50,Delivered,UK
2,10003,2024-01-02,C003,Sophie Miller,sophie.m@email.com,P201,Noise Cancelling Headphones,Audio,1,89.99,Returned,Germany
3,10004,2024-01-02,C004,Liam O’Connor,liam.oc@email.com,P104,Laptop Stand,Accessories,1,29.99,Delivered,Ireland
4,10005,2024-01-03,C005,Noah Smith,noah.s@email.com,P301,Smart Watch,Wearables,1,149.00,Shipped,UK

Modify the above line of code to show the first 15 lines of the dataframe.

Modify the above line of code to show the last 15 lines of the dataframe

Task:
Find all orders from the UK.

In [6]:
uk_orders = df[df["Country"] == "UK"]
print (uk_orders)

    OrderID   OrderDate CustomerID     CustomerName                   Email  \
0     10001  2024-01-01       C001     Amelia Brown  amelia.brown@email.com
1     10002  2024-01-01       C002      James Patel       j.patel@email.com
4     10005  2024-01-03       C005       Noah Smith        noah.s@email.com
5     10006  2024-01-03       C001     Amelia Brown  amelia.brown@email.com
7     10008  2024-01-04       C007     Oliver Jones      oliver.j@email.com
9     10010  2024-01-05       C002      James Patel       j.patel@email.com
10    10011  2024-01-06       C009   Ethan Williams       ethan.w@email.com
12    10013  2024-01-07       C011       Mia Taylor         mia.t@email.com
16    10017  2024-01-09       C013  Charlotte Green   charlotte.g@email.com
18    10019  2024-01-10       C015        Grace Lee       grace.l@email.com
19    10020  2024-01-10       C016     Henry Wilson       henry.w@email.com
23    10024  2024-01-12       C019    Jack Thompson        jack.t@email.com
24    10025  2024-01-13       C020      Sarah Ahmed       sarah.a@email.com
25    10026  2024-01-13       C011       Mia Taylor         mia.t@email.com
29    10030  2024-01-15       C024     Hannah White      hannah.w@email.com
31    10032  2024-01-16       C002      James Patel       j.patel@email.com
32    10033  2024-01-17       C026      Fatima Khan      fatima.k@email.com
35    10036  2024-01-18       C029      Chris Evans       chris.e@email.com
36    10037  2024-01-19       C030       Lucy Brown        lucy.b@email.com
39    10040  2024-01-20       C001     Amelia Brown  amelia.brown@email.com
41    10042  2024-01-21       C034       Zoe Parker         zoe.p@email.com
42    10043  2024-01-22       C035         Sam Reed         sam.r@email.com
44    10045  2024-01-23       C037       Adam Clark        adam.c@email.com
46    10047  2024-01-24       C039         Ben Hall         ben.h@email.com
50    10051  2024-01-26       C043       Paul Young        paul.y@email.com
52    10053  2024-01-27       C045       Tom Harris         tom.h@email.com
54    10055  2024-01-28       C047      Alex Morgan        alex.m@email.com
56    10057  2024-01-29       C049      Mark Taylor        mark.t@email.com
58    10059  2024-01-30       C051     Emma Collins        emma.c@email.com
60    10061  2024-01-31       C053      Kevin Moore       kevin.m@email.com
62    10063  2024-02-01       C055     Daniel Scott      daniel.s@email.com
65    10066  2024-02-02       C058    Rebecca Allen     rebecca.a@email.com
67    10068  2024-02-03       C060     Alice Turner       alice.t@email.com
70    10071  2024-02-05       C063      George King      george.k@email.com
72    10073  2024-02-06       C065      Harry Lewis       harry.l@email.com
74    10075  2024-02-07       C067    Andrew Wright      andrew.w@email.com
77    10078  2024-02-08       C070     Natalie Wood     natalie.w@email.com
78    10079  2024-02-09       C071      Simon Baker       simon.b@email.com
80    10081  2024-02-10       C073    Michael Grant     michael.g@email.com
82    10083  2024-02-11       C075    Paul Robinson        paul.r@email.com
84    10085  2024-02-12       C077      Josh Miller        josh.m@email.com
86    10087  2024-02-13       C079       Leo Carter         leo.c@email.com
88    10089  2024-02-14       C081    Daniel Brooks      daniel.b@email.com
90    10091  2024-02-15       C083     Oliver Scott      oliver.s@email.com
92    10093  2024-02-16       C085     Chris Turner       chris.t@email.com
94    10095  2024-02-17       C087       Tom Walker         tom.w@email.com
96    10097  2024-02-18       C089   Benjamin Price         ben.p@email.com
98    10099  2024-02-19       C091       Sam Wilson         sam.w@email.com

   ProductID                  ProductName     Category  Quantity  UnitPrice  \
0       P101               Wireless Mouse  Accessories         2      18.99
1       P103                USB-C Charger  Accessories         1      14.50
4       P301                  Smart Watch    Wearables         1     149.00
5       P401            Bluetooth Speaker        Audio         1      45.00
7       P101               Wireless Mouse  Accessories         3      18.99
9       P104                 Laptop Stand  Accessories         1      29.99
10      P401            Bluetooth Speaker        Audio         2      45.00
12      P301                  Smart Watch    Wearables         1     149.00
16      P104                 Laptop Stand  Accessories         1      29.99
18      P101               Wireless Mouse  Accessories         2      18.99
19      P301                  Smart Watch    Wearables         1     149.00
23      P101               Wireless Mouse  Accessories         4      18.99
24      P201  Noise Cancelling Headphones        Audio         1      89.99
25      P103                USB-C Charger  Accessories         2      14.50
29      P104                 Laptop Stand  Accessories         2      29.99
31      P101               Wireless Mouse  Accessories         2      18.99
32      P301                  Smart Watch    Wearables         1     149.00
35      P104                 Laptop Stand  Accessories         1      29.99
36      P101               Wireless Mouse  Accessories         2      18.99
39      P103                USB-C Charger  Accessories         1      14.50
41      P104                 Laptop Stand  Accessories         2      29.99
42      P101               Wireless Mouse  Accessories         3      18.99
44      P301                  Smart Watch    Wearables         1     149.00
46      P401            Bluetooth Speaker        Audio         1      45.00
50      P301                  Smart Watch    Wearables         1     149.00
52      P401            Bluetooth Speaker        Audio         2      45.00
54      P101               Wireless Mouse  Accessories         4      18.99
56      P301                  Smart Watch    Wearables         1     149.00
58      P401            Bluetooth Speaker        Audio         1      45.00
60      P101               Wireless Mouse  Accessories         1      18.99
62      P301                  Smart Watch    Wearables         1     149.00
65      P104                 Laptop Stand  Accessories         1      29.99
67      P201  Noise Cancelling Headphones        Audio         1      89.99
70      P401            Bluetooth Speaker        Audio         1      45.00
72      P101               Wireless Mouse  Accessories         3      18.99
74      P301                  Smart Watch    Wearables         1     149.00
77      P104                 Laptop Stand  Accessories         1      29.99
78      P101               Wireless Mouse  Accessories         2      18.99
80      P301                  Smart Watch    Wearables         1     149.00
82      P401            Bluetooth Speaker        Audio         1      45.00
84      P101               Wireless Mouse  Accessories         4      18.99
86      P301                  Smart Watch    Wearables         1     149.00
88      P401            Bluetooth Speaker        Audio         2      45.00
90      P101               Wireless Mouse  Accessories         2      18.99
92      P301                  Smart Watch    Wearables         1     149.00
94      P401            Bluetooth Speaker        Audio         1      45.00
96      P101               Wireless Mouse  Accessories         3      18.99
98      P301                  Smart Watch    Wearables         1     149.00

   OrderStatus Country
0    Delivered      UK
1    Delivered      UK
4      Shipped      UK
5    Delivered      UK
7    Delivered      UK
9    Delivered      UK
10   Cancelled      UK
12   Delivered      UK
16   Delivered      UK
18   Delivered      UK
19    Returned      UK
23   Delivered      UK
24   Delivered      UK
25   Delivered      UK
29   Delivered      UK
31   Delivered      UK
32   Delivered      UK
35   Cancelled      UK
36   Delivered      UK
39   Delivered      UK
41   Delivered      UK
42   Delivered      UK
44   Delivered      UK
46   Delivered      UK
50    Returned      UK
52   Delivered      UK
54   Delivered      UK
56   Delivered      UK
58   Delivered      UK
60   Delivered      UK
62   Delivered      UK
65   Delivered      UK
67   Delivered      UK
70   Delivered      UK
72   Delivered      UK
74   Delivered      UK
77   Delivered      UK
78   Delivered      UK
80   Delivered      UK
82   Delivered      UK
84   Delivered      UK
86   Delivered      UK
88   Delivered      UK
90   Delivered      UK
92   Delivered      UK
94   Delivered      UK
96   Delivered      UK
98   Delivered      UK

Return all returned orders

In [ ]:
returned_orders = <ENTER CODE>
print (returned_orders)

Return all orders from the UK with quantity over 2 items

In [ ]:
uk_orders_large = <ENTER CODE>
print (uk_orders_large)

# Ordering Data

Order by date

In [7]:
sorted_data = df.sort_values("OrderDate", ascending=False)
print (sorted_data)

    OrderID   OrderDate CustomerID       CustomerName                   Email  \
99    10100  2024-02-19       C092    Lucía Fernández       lucia.f@email.com
98    10099  2024-02-19       C091         Sam Wilson         sam.w@email.com
97    10098  2024-02-18       C090  Katarina Markovic    katarina.m@email.com
96    10097  2024-02-18       C089     Benjamin Price         ben.p@email.com
95    10096  2024-02-17       C088        Eva Novotná         eva.n@email.com
..      ...         ...        ...                ...                     ...
5     10006  2024-01-03       C001       Amelia Brown  amelia.brown@email.com
2     10003  2024-01-02       C003      Sophie Miller      sophie.m@email.com
3     10004  2024-01-02       C004      Liam O’Connor       liam.oc@email.com
1     10002  2024-01-01       C002        James Patel       j.patel@email.com
0     10001  2024-01-01       C001       Amelia Brown  amelia.brown@email.com

   ProductID                  ProductName     Category  Quantity  UnitPrice  \
99      P103                USB-C Charger  Accessories         2      14.50
98      P301                  Smart Watch    Wearables         1     149.00
97      P201  Noise Cancelling Headphones        Audio         1      89.99
96      P101               Wireless Mouse  Accessories         3      18.99
95      P104                 Laptop Stand  Accessories         2      29.99
..       ...                          ...          ...       ...        ...
5       P401            Bluetooth Speaker        Audio         1      45.00
2       P201  Noise Cancelling Headphones        Audio         1      89.99
3       P104                 Laptop Stand  Accessories         1      29.99
1       P103                USB-C Charger  Accessories         1      14.50
0       P101               Wireless Mouse  Accessories         2      18.99

   OrderStatus         Country
99   Delivered           Spain
98   Delivered              UK
97   Delivered          Serbia
96   Delivered              UK
95   Delivered  Czech Republic
..         ...             ...
5    Delivered              UK
2     Returned         Germany
3    Delivered         Ireland
1    Delivered              UK
0    Delivered              UK

[100 rows x 12 columns]

How would you change the order

In [8]:
sorted_data = df2.sort_values(<ENTER CODE>)
print (sorted_data)

SyntaxError: invalid syntax (ipython-input-2358766163.py, line 1)

# Manipulating Data

Sales by product

In [10]:
quantity_by_product = (
    df.groupby("ProductName")["Quantity"].sum()
)
print (quantity_by_product)

ProductName
Bluetooth Speaker              23
Laptop Stand                   21
Noise Cancelling Headphones    21
Smart Watch                    16
USB-C Charger                  36
Wireless Mouse                 43
Name: Quantity, dtype: int64

How would you find the Total Revenue

# Spliting the data files

Create three files for:<br>
Customers<br>
Products<br>
Orders<br>
<br>
What's the first stage before splitting the data?

In [ ]:
customers = df2[['CustomerID','CustomerName','Email']].drop_duplicates()
print (customers)

customers.to_csv('customers.csv', index=False)

In [ ]:
<Create the additional files>