<a href="https://colab.research.google.com/github/p-tech/wbs-dm-2026/blob/main/loading_data/loading_data_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1: Import pandas

In [ ]:
import pandas as pd

# Install pandas if not already installed
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

# Working with CSV files:
# Task 1:
Load the csv 'loading_data_file.csv' file into a dataframe - labelled as df

In [ ]:
df = pd.read_csv('loading_data_csv.csv')

Show the first 5 lines of the csv file.

In [ ]:
df.head(5)

Modify the above line of code to show the first 15 lines of the dataframe.

Modify the above line of code to show the last 15 lines of the dataframe

#Task 2:
Load the data file 'loading_data_csv_nh.csv'<br/>What do you observe about the data?

In [ ]:
df2 = pd.read_csv('loading_data_csv_nh.csv')

Print the first 5 lines of the file.

In [ ]:
df2.head(5)

,20001,2024-03-01,C101,Amelia Brown,amelia.brown@email.com,P101,Wireless Mouse,Accessories,2,18.99,Delivered,UK
0,20002,2024-03-01,C102,James Patel,j.patel@email.com,P103,USB-C Charger,Accessories,1,14.50,Delivered,UK
1,20003,2024-03-02,C103,Sophie Miller,sophie.m@email.com,P201,Noise Cancelling Headphones,Audio,1,89.99,Returned,Germany
2,20004,2024-03-02,C104,Liam O’Connor,liam.oc@email.com,P104,Laptop Stand,Accessories,1,29.99,Delivered,Ireland
3,20005,2024-03-03,C105,Noah Smith,noah.s@email.com,P301,Smart Watch,Wearables,1,149.00,Shipped,UK
4,20006,2024-03-03,C101,Amelia Brown,amelia.brown@email.com,P401,Bluetooth Speaker,Audio,1,45.00,Delivered,UK

**Question:**
<br>What do you notice about the data compared to previous example.

# Task 3
Adding headers to the file.

In [ ]:
headers = [
    "OrderID", <ADD ALL COLUMN HEADERS> ,"Country"
]

Reload the file and add the headers to the file.

In [ ]:
df3 = pd.read_csv("loading_data_csv_nh.csv", header=None)
df.columns = headers